@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');

html, body {
    font-family: "Roboto", sans-serif;;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width:75%;
}

th, td {
    border: 1px solid black;
}